<div class="container">
    <h1>Example App: Home {{test}}</h1>
</div>

<script>
    var socket = io();
    socket.emit('chat message', 'sockets working');
    socket.on('chat message', (message) => {
        console.log(message)
    })
    console.log('{{ test }}')

    async function fetchExample() {
        try {
            const response = await axios.get("/testUrl");
            const data = await response.data;
            console.log("🚀 ~ file: home.hbs ~ line 17 ~ fetchExample ~ data", data)

        } catch (e) {
            console.error(e)
        }
    }
    fetchExample()
</script>